<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
<style type="text/css">
    
    table{
        border: 1px solid black;
        border-spacing: 0px;
        border-collapse: collapse; 
    }
    .smallrow{
        line-height: 10px;
    }
    .rowborder{
        border-bottom:1px solid black;
    }
    .col1{
        border-right:1px solid black;
        background-color: rgba(51,113,255,.6);
        width: 50%;
        padding: 0px 5px;
    }
    .col2{
        background-color: rgba(255,51,51,.6);
        width: 50%;
        padding: 0px 5px;
    }
</style>
-->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<h1>Apexlott</h1>
<div class="topnav">
    <a href="home">Home</a>
    <a class="active" href="roulette">Roulette</a>
    <a href="tournament">Tournament</a> 
    <a href="user">Account</a>
</div> 
<p></p> 
<div class="subtopnav">
    <a class="active" href="roulette">Scenarios</a>
    <a href="teams">Teams</a>
    <a href="stats">Stats</a> 
</div>

<div style="padding-left:10px">
<p><br></p>
<button onclick="location.href = '/reroll3'">Roll All</button> &nbsp &nbsp &nbsp     
<button onclick="location.href = '/reroll1'">Roll Team 1</button>   &nbsp &nbsp &nbsp  
<button onclick="location.href = '/reroll2'">Roll Team 2</button><br> 
<p></p>
<p>{{.Updhr}}:{{.Updmin}}:{{.Updsec}}<br><br></p>

<table>
<tr>
    <td class="col1">
        <b>Team 1</b> 
    </td>
    <td class="col2">
        <b>Team 2</b>
    </td>
</tr>

<tr>
    <td class="col1">&nbsp</td>
    <td class="col2">&nbsp</td>
</tr>

{{range $t:= .Tchals}}
<tr>
    <td class="col1">
        {{$t.Tchal1}} 
    </td>
    <td class="col2">
        {{$t.Tchal2}} 
    </td>
</tr>
<tr>
    <td class="col1">&nbsp</td>
    <td class="col2">&nbsp</td>
</tr>
{{end}}

<tr class="rowborder">
    <td class="col1">&nbsp</td>
    <td class="col2">&nbsp</td>
</tr>

{{range $l:= .AllLoads}}
<tr>
    <td class="col1">
        <u><i><b>{{$l.L1.Playername}} - {{$l.L1.Char}}</b></i></u>
    </td>
    <td class="col2">
        <u><i><b>{{$l.L2.Playername}} - {{$l.L2.Char}}</b></i></u>
    </td>
</tr>  

<tr>
    <td class="col1">
        weapon1: {{$l.L1.W1}}
    </td>
    <td class="col2">
        weapon1: {{$l.L2.W1}}
    </td>
</tr>   
<tr>
    <td class="col1">
        weapon2: {{$l.L1.W2}}
    </td>
    <td class="col2">
        weapon2: {{$l.L2.W2}}
    </td>
</tr>   

<tr class="smallrow">
    <td class="col1">&nbsp</td>
    <td class="col2">&nbsp</td>
</tr>

<tr>
    <td class="col1">       
        curses: {{$l.L1.Cstr}}
    </td>
    <td class="col2">
        curses: {{$l.L2.Cstr}}
    </td>
</tr>

<tr class="rowborder">
    <td class="col1">&nbsp</td>
    <td class="col2">&nbsp</td>
</tr>
{{end}}


<tr>
    <td class="col1">
        Zones: {{.Z1str}} 
    </td>
    <td class="col2">
        Zones: {{.Z2str}} 
    </td>
</tr>

</table>
<p></p>

<!--
<button onclick="location.href = '/stats'">Stats</button> &nbsp &nbsp &nbsp     
<button onclick="location.href = '/teams'">Teams</button> &nbsp &nbsp &nbsp
<button onclick="location.href = '/tournament'">Tournament</button>
-->
</div>

