<!DOCTYPE html>

<head>
    <!--<meta http-equiv="refresh" content="3" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<h1>     Tournament</h1>
<div class="topnav">
    <a href="home">Home</a>
    <a href="roulette">Roulette</a>
    <a class="active" href="tournament">Tournament</a> 
    <a href="profile">Profile</a>
</div>
<p></p> 
<div class="subtopnav">
    <a href="tournament">Standings</a>
    <a class="active"href="trackers">Trackers</a>
    <a href="log">Log Game</a> 
</div>
<br>
<br>
<br>
Users
<br><br>
<table class="style1">
<tr>
    <th class="tcol1">
        Player
    </th>
</tr>
{{range .U}}
<tr>
    <td class="tcol1">
       <form method="POST"><button type="submit" name="showdata" value="{{.Username}}">{{.Username}}</button></form> 
    </td>
</tr>
{{end}}

</table>

Trackers
<table class="style1">
<tr>
    <th class="tcol3">
        Player
    </th>
    <th class="tcol3">
        Legend
    </th>
    <th class="tcol3">
        Total Dmg
    </th>
    <th class="tcol3">
        Nameid
    </th>
    <th class="tcol2">
        Val
    </th>
    <th class="tcol3">
        ID
    </th>
</tr>
{{range .G}}
<tr>
        <td class="tcol3">
        {{.Player}}
    </td>
    <td class="tcol3">
        {{.Legend}}
    </td>
    <td class="tcol3">
        {{.Totdmg}}
    </td>
    <td class="tcol3">
        {{.Nameid}}
    </td>
    <td class="tcol3">
        {{.Val}}
    </td>
    <td class="tcol2">
        ID: {{.ID}},<br>
        {{.Gametime.Format "01-02 T15:04"}}
    </td>
</tr>
{{end}}
</table>